<footer>
    <div class="container footer-container small">
        <div class="row">
            <div class="col-8 version">
                <div>Copyright &#169; <script>document.write(new Date().getFullYear())</script> Tom Warsop</div>
                <div>Last Updated: 2026/02/07 (v2.16.2) - <a href="../versioning.html">Versioning</a></div>
            </div>
            <div class="col-4">
                <img class="footer-img" src="../img/Icon_Small.png">
            </div>
        </div>
    </div>
</footer>