<div class="menu" id="mobile-menu" aria-label="Main">
    <ul class="menu_list">
        <li class="menu_item">
            <a class="menu_link" href="../index.html">Home</a>
        </li>
        <li class="menu_item">
            <a class="menu_link" href="../aboutme.html">About me</a>
        </li>
        <li class="menu_item">
            <a class="menu_link" href="../blog.html" aria-current="page">Blog</a>
        </li>
        <li class="menu_item">
            <a class="menu_link" href="../projects.html">Projects</a>
        </li>
    </ul>
</div>