html {
    height: 100%;
}

body {
    background-color: #c5c6c7;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background: url('header-image.png') no-repeat center;
    background-size: 100% 100%;
    height: 250px;
    color: #c5c6c7;    
    font-size: 100px;
}

.page {
    width:800px; 
    margin:0 auto;
}

h1 {
    color: #009;
    font-size: 50px;
}

.page .navbar {

}

.page .navbar .navitem {
    border: 1px solid #c5c6c7;
    float: left;
    padding: 10px 20px;
    margin-right:20px;
    color: #0b0c10;
    background-color: #66fcf1;
}

.page .navbar .navitem:hover {
    background-color: #45a29e !important;
}

.page .navbar .navitem-selected {
    background-color: #45a29e !important;
}

.page .content {
    margin-top: 20px;
    color: #0b0c10;
}

.page .content .otherme-container {
    margin-bottom: 20px;
    width: 33.3333333333%;
    height: 100px;
    float: left;
}

.page .content .otherme-container .otherme {
    width:auto;
    height:100px;
    padding:10px;
}

.page .content .otherme-container .otherme .otherme-content {
    color: #c5c6c7;    
    text-align: center;
    font-size: 18px;
    background-color: #009;
    height: 100%;
}

.page .content .otherme .otherme-content:hover {
    background-color: #00e !important;
}

.page .content .otherme-container .otherme .otherme-content .otherme-logo {
    margin-top: 10px;
}

.project {
    border:5px solid #999; 
    border-radius: 5px; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;
    margin-bottom: 20px;
    background-color: #aaa;
}

.project .image-container {
    float:left; 
    width: 40%;
}

.project .content-container {
    float:left; 
    width: 60%;
}

.project .content-container .title {
    font-weight: bold; 
    font-size: 30px; 
    padding: 5px 20px;     
}

.project .content-container .status-label {
    padding: 5px 20px; 
}

.project .content-container .progress-bar-container {
    padding: 5px 20px; 
}

.project .content-container .progress-bar-container .progress-bar {
    width: 100%;
}

.project .content-container .description-container {
    padding: 5px 20px; 
}

nav {
	margin:10px;
	width:900px;
	font-family: sans-serif;
}

nav li {
	display:block;
	width:33.33333%;
	float:left;
	border:0px solid #000;
    text-align:center;
    margin-top: 10px;
}

nav a {
	display:block;
	padding:10px 3px;
	text-decoration:none;
	background-color:#fff;
	color:#009;
    margin: 10px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
}

nav a:hover {
	background-color:#009;
	color:#fff;
}

nav .selected {
    background-color:#009;
	color:#fff;
}

.content {
    padding: 20px 0px;
    flex: 1 0 auto;
}

.sticky-footer {
    background-color: #009;
    padding: 20px;
    flex-shrink: 0;
    color: #c5c6c7;
}