body {
    background-color: #0b0c10;
}

.page {
    width:800px; 
    margin:0 auto;
}

.page .navbar {
    border: 1px solid #c5c6c7;
}

.page .navbar .navitem {
    border: 1px solid #c5c6c7;
    float: left;
    padding: 10px 20px;
    margin-right:20px;
    color: #c5c6c7;
}

.page .content {
    margin-top: 20px;
    color: #c5c6c7;
}