body {
    padding: 50px;
}

.navbar {
    border: 1px solid #000;
}

.navbar .image {
    border: 1px solid #000;
    float: left;
}

.navbar .navitem {
    border: 1px solid #000;
    float: left;
}